body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #87CEFA, #FF00FF, #800080);
}

.container {
  display: flex;
}

.left-panel {
  flex: 2;
  padding: 20px;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.brain-image {
  width: 70%; /* Ensure the image covers the left two-thirds of the screen */
}

#pathway-select {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#pathway-title {
  font-size: 24px;
  font-weight: bold;
}

#anatomical-structures {
  font-size: 16px;
  list-style-type: none;
}
