/* Global styles */
html, body {
  height: 100%; /* Ensure the background covers the entire viewport */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Updated background with radial gradient */
  background-color: #c5b99e;
  background-image: radial-gradient(
    circle farthest-corner at top left, rgba(2,0,36,1) 0%, rgba(2,0,36,0) 50%),
    radial-gradient(
    circle farthest-side at top right, rgba(146,155,161,1) 0%, rgba(146,155,161,0) 10%),
    radial-gradient(circle farthest-corner at bottom right, rgba(154,159,161,1) 0%, rgba(154,159,161,0) 33%),
    radial-gradient(
    circle farthest-corner at top right, rgba(41,155,177,1) 0%, rgba(41,155,177,0) 50%),
    radial-gradient(ellipse at bottom center, rgba(0,212,255,1) 0%, rgba(0,212,255,0) 80%);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* Dropdown panel styles */
.dropdown-panel {
  flex-basis: 100%;
  text-align: center;
  padding: 20px;
}

#pathway-select {
  font-size: 16px; /* Adjust font size for mobile */
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  width: 80%; /* Adjust width for mobile */
  max-width: 300px; /* Limit maximum width for larger screens */
  margin: 0 auto; /* Center the dropdown */
}

/* Left panel styles */
.left-panel {
  flex: 1;
  padding: 20px;
}

.brain-image {
  max-width: 100%; /* Make sure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

/* Right panel styles */
.right-panel {
  flex: 2;
  padding: 20px;
  height: 750px;
  overflow-y: scroll;
}

#anatomical-structures {
  background-color: rgba(255, 240, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  #pathway-select {
    font-size: 14px; /* Further reduce font size for smaller screens */
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Initially hide the content of Lesions and Pharmacological Agents */
.structure-lesions,
.structure-pharmacological-agents {
  display: none;
}

/* Show the content when their respective titles are clicked */
.subsection-title.active + .structure-lesions,
.subsection-title.active + .structure-pharmacological-agents {
  display: block;
}
.structure h3, .subsection-title {
  cursor: pointer;
  color: #0000EE; /* Traditional link color */
}

.structure h3:hover, .subsection-title:hover {
  text-decoration: underline;
  color: #551A8B; /* Darker shade for visual feedback */
}

.structure h3, .subsection-title {
  cursor: pointer;
  color: #0000EE; /* Traditional link color */
  display: flex;
  align-items: center;
}

.structure h3:hover, .subsection-title:hover {
  text-decoration: underline;
  color: #551A8B; /* Darker shade for visual feedback */
}

.structure h3 {
  font-size: 20px; /* Larger font size */
  font-weight: bold; /* Bolder font */
}

.structure h3::before, .subsection-title::before {
  content: '+';
  margin-right: 8px;
  color: #000; /* Icon color */
  transition: transform 0.2s ease; /* Smooth transform transition */
}

.structure h3.expanded::before, .subsection-title.expanded::before {
  content: '-';
}

.structure-description, .structure-lesions, .structure-pharmacological-agents {
  padding-left: 20px; /* Indent content for visual hierarchy */
}
